@import "react-loading-skeleton/dist/skeleton.css";

body{
    min-height: 100vh;
    position: relative;
    background: hsl(226, 52%, 94%);
}
.header{
   background: rgba(255, 255, 255, 0.548);
}
.animate{
    animation: animate 5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
}

@keyframes animate {
    0%,100%{
        transform: scale(1.1) perspective(500px) rotateY(20deg) translateZ(50px);
    }
    50%{
        transform: translateZ(10px) rotateY(-10deg);
    }
}
@media (max-width:780px) {
    .suggestion{
        display: none;
    }
    .header{
        position: static;
    }
    .nav{
         position: fixed;
         bottom: 0;
    }
}

.owner{
    flex-direction: row-reverse;
}
.owner .message{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: end;
}
.owner p:not(.para){
    border-radius : 0px 10px 10px 10px;
}
.para{
    background-color: crimson;
    color: white;
    border-radius: 10px 0px 10px 10px;
}